<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Nikki Test Web</title>
</head>
<body>
        <!-- <form action="/main_view" method="post" -->>
        <label>欢迎来到测试工具噢！你想干嘛嘞</label><br>
        <a href="http://127.0.0.1:8000/jsonget">
        <input type="submit" name="button" value="配点json"><br>
        </a>
        <input type="submit" name="button" value="测点接口"><br>
        <a href="http://127.0.0.1:8000/many_tools">
        <input type="submit" name="button" value="整点文档"><br>
        </a>
    </form>
</body>
</html>